@model WebBanHangOnline.Models.OrderViewModel


@using (Ajax.BeginForm("Checkout", "ShoppingCart", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "load_data",
    OnComplete = "OnSuccess",
    OnFailure = "OnFailure"

}, new { @Id = "formThanhToan" }))
{
    @Html.AntiForgeryToken()
    <h4>Thông tin khách hàng</h4>
    <div class="form-group">
        <label>Họ và Tên Khách Hàng</label>
        <input type="text" name="CustomerName" required class="form-control" autocomplete="off" />
    </div>

    <div class="form-group">
        <label>Số điện thoại</label>
        <input type="text" name="Phone" required class="form-control" autocomplete="off" />
    </div>

    <div class="form-group">
        <label>Địa chỉ</label>
        <input type="text" name="Address"  class="form-control" autocomplete="off" />
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="text" name="Email" class="form-control" autocomplete="off" />
    </div>

    <div class="form-group">
        <label>Hình thức thanh toán</label>
        <select class="form-control" name="TypePayment">
            <option value="1" selected>Ship COD</option>
            <option value="2">Chuyển khoản</option>

        </select>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-block btn-danger">Đặt hàng</button>
    </div>
}
