
@{
    ViewBag.Title = "Thanh toán Paypal thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string email = TempData["EmailCustomerPaypal"] as string;
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<section class="container" style="margin-top: 200px">
    <div class="row">
        <div class="col-12 text-center">
            <img width="20%" class="text-center" src="~/Content/template/Paypal-logo.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-5">
            <a class="btn btn-danger" href="/san-pham">Tiếp tục mua hàng</a>
        </div>
        <h4 class="col-12 text-center">Thanh toán thành công</h4>
        <p class="col-12 text-center">Cảm ơn bạn đã thanh toán. Hoá đơn thanh toán tự động sẽ được gửi đến email: <a href="https://mail.google.com/"><strong>@email</strong> </a> của bạn</p>
        <p class="col-12 text-center">Bạn có thể theo dõi đơn hàng <strong>@TempData["MaDonHang"]</strong> tại mục <a style="color: #17a2b8;" href="~/tra-cuu">Tra Cứu</a></p>

    </div>
</section>