
@{
    ViewBag.Title = "NoPermission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<style>
    .permission-container {
        margin-top: 200px;
    }
</style>

<section class="permission-container">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="text-danger">Bạn không có quyền truy cập vào trang này</h4>
            </div>
        </div>
    </div>
</section>

