@model List<WebBanHangOnline.Models.ProductQuantityViewModel>

<table class="table">
    <tr>
        <th>Mã sản phẩm</th>
        <th>Tên sản phẩm</th>
        <th>Tổng số bán</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.ProductCode</td>
            <td>@product.ProductName</td>
            <td>@product.TotalQuantitySold</td>
        </tr>
    }
</table>
