<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div style="width: 100%;">
    <canvas id="TopStoreByID"></canvas>
</div>



<script>
    // Lấy dữ liệu từ Model để vẽ biểu đồ
    var labels = [];
    var viewCounts = [];
    let storeNameElement = document.querySelector(".ml-2.text-md-center");
    var topStores = @Html.Raw(ViewBag.TopStores);
    for (var i = 0; i < topStores.length; i++) {
        labels.push(topStores[i].OrderDate);
        viewCounts.push(topStores[i].TotalRevenue);
    }
    // Vẽ biểu đồ cột sử dụng Chart.js
    var ctx = document.getElementById('TopStoreByID').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [
                {
                    label: 'Doanh thu bán hàng theo ngày',
                    data: viewCounts,
                    backgroundColor: 'rgba(7, 102, 173, 0.2)',
                    borderColor: 'rgba(7, 102, 173, 1)',
                    borderWidth: 1
                }
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    display: true,
                    position: 'top',
                },
                title: {
                    display: true,
                    text: `Doanh thu ${storeNameElement != null ? storeNameElement.textContent : ''} `,
                    font: {
                        weight: 'bold',
                        size: 22,
                    }
                }
            }
        }
    });
</script>
