
@{
    ViewBag.Title = "Thống kê doanh thu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader {
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/RevenueStatistics" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewBag.Title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>Từ ngày:</label>
                <div class="input-group date" id="fromDate" data-target-input="nearest">
                    <input type="date" class="form-control " data-target="#fromDate" id="fromDateInput" />

                    @*    <input type="date" class="form-control datetimepicker-input " data-target="#fromDate" id="fromDateInput" />
                                     <div class="input-group-append" data-target="#fromDate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>*@
                </div>

            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label>Đến ngày:</label>
                <div class="input-group date" id="toDate" data-target-input="nearest">
                    <input type="date" class="form-control" data-target="#toDate" id="toDateInput" />

                    @*                    <input type="date" class="form-control datetimepicker-input" data-target="#toDate" id="toDateInput" />

                                    <div class="input-group-append" data-target="#toDate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <button type="submit" id="DateFromTo" class="btn btn-success">Lọc</button>
        </div>
    </div>
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewBag.Title</h3>

            <div class="card-tools">

            </div>
        </div>

        <div class="card-body">
            <div class="card-header">
                @*<h3 class="card-title">Bar Chart</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>*@
            </div>
            <div class="card-body">


                <div class="row">
                    <div class="col-8">
                        <div class="chart">
                            <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                    </div>
                    <div class="col-4">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Ngày</th>
                                    <th>Doanh thu</th>
                                    <th>Lợi nhuận</th>
                                </tr>
                            </thead>
                            <tbody id="load_data">
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

@section scripts {
    <script src="~/Content/clients/plugins/chart.js/Chart.min.js"></script>
    <script src="~/Content/assets/plugins/moment/moment.min.js"></script>
    <script>

        let btnDateFromTo = document.querySelector("#DateFromTo");
        let fromDate = '';
        let toDate = '';
        btnDateFromTo.onclick = (e) => {
            fromDate = document.querySelector("#fromDateInput").value;
            toDate = document.querySelector("#toDateInput").value;

            console.log(fromDate)
            console.log(toDate)

        }


        let arrDoanhThu = [];
        let arrLoiNhuan = [];
        let arrDate = [];
        $.ajax({
            url: '/RevenueStatistics/GetStatistical',
            type: 'GET',
            data: { fromDate: fromDate, toDate: toDate },
            success: function (rs) {
                $.each(rs.Data, function (i, item) {
                    let strDate = moment(item.Date).format('DD/MM/yyyy') // Convert và Định dạng date cho đúng
                    arrDate.push(strDate)
                    arrDoanhThu.push(item.DoanhThu);
                    arrLoiNhuan.push(item.LoiNhuan);
                });
                let areaChartData = {
                    labels: arrDate,
                    datasets: [
                        {
                            label: 'Lợi nhuận',
                            backgroundColor: 'rgba(60,141,188,0.9)',
                            borderColor: 'rgba(60,141,188,0.8)',
                            pointRadius: false,
                            pointColor: '#3b8bba',
                            pointStrokeColor: 'rgba(60,141,188,1)',
                            pointHighlightFill: '#fff',
                            pointHighlightStroke: 'rgba(60,141,188,1)',
                            data: arrLoiNhuan
                        },
                        {
                            label: 'Doanh thu',
                            backgroundColor: 'rgba(210, 214, 222, 1)',
                            borderColor: 'rgba(210, 214, 222, 1)',
                            pointRadius: false,
                            pointColor: 'rgba(210, 214, 222, 1)',
                            pointStrokeColor: '#c1c7d1',
                            pointHighlightFill: '#fff',
                            pointHighlightStroke: 'rgba(220,220,220,1)',
                            data: arrDoanhThu
                        },
                    ]
                }
                //-------------
                //- BAR CHART -
                //-------------
                let barChartCanvas = $('#barChart').get(0).getContext('2d')
                let barChartData = $.extend(true, {}, areaChartData)
                let temp0 = areaChartData.datasets[0]
                let temp1 = areaChartData.datasets[1]
                barChartData.datasets[0] = temp1
                barChartData.datasets[1] = temp0

                let barChartOptions = {
                    responsive: true,
                    maintainAspectRatio: false,
                    datasetFill: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                callback: function (value, index, values) {
                                    // Định dạng giá trị số có dấu ngăn cách phần nghìn
                                    return value.toLocaleString('en-US');
                                }
                            }
                        }]
                    }
                }
                new Chart(barChartCanvas, {
                    type: 'bar',
                    data: barChartData,
                    options: barChartOptions
                });
                LoadData(rs.Data);
            }
        });

        function LoadData(data) {
            var strHtml = ``;
            $.each(data, function (i, item) {
                var strDate = moment(item.Date).format('DD/MM/yyyy') // Convert và Định dạng date cho đúng
                var doanhThuFormatted = item.DoanhThu.toLocaleString('en-US'); // Định dạng số thành chuỗi có dấu ngăn cách phần nghìn
                var loiNhuanFormatted = item.LoiNhuan.toLocaleString('en-US'); // Định dạng số thành chuỗi có dấu ngăn cách phần nghìn
                strHtml += `<tr>`
                strHtml += `<td>` + (i + 1) + '</td>'
                strHtml += `<td>` + strDate + '</td>'
                strHtml += `<td>` + doanhThuFormatted + '</td>'
                strHtml += `<td>` + loiNhuanFormatted + '</td>'
                strHtml += `</tr>`
            });
            $('#load_data').html(strHtml);
        }

        //Date picker
       @* $('#fromDate').datetimepicker({
            format: 'L'
        });

        $('#toDate').datetimepicker({
            format: 'L'
        });*@
    </script>
}
