
@{
    ViewBag.Title = "CustomerRequest_SuccessSend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<h3 class="text-center text-success" style="margin-top:200px;">Gửi yêu cầu thành công</h3>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <p>Nhân viên chăm sóc khách hàng sẽ liên hệ bạn sớm nhất</p>
        </div>
    </div>
</div>

