@{
    ViewBag.Title = "Danh sách API được sử dụng";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<h3 class="text-center" style="margin-top:200px;">@ViewBag.Title</h3>


<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Nội dung</th>
                        <th>Link nguồn</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Tỉnh/Thành Việt Nam</td>
                        <td><a href="https://provinces.open-api.vn/"> https://provinces.open-api.vn/ </a> </td>
                    </tr>
                    <tr> 
                        <td>2</td>
                        <td>Quỷ đổi tiền tệ sang VNĐ</td>
                        <td> <a href="https://www.exchangerate-api.com/"> https://www.exchangerate-api.com/ </a> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

