@model WebBanHangOnline.Models.EF.Subscribe

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
                <h4>Đăng ký email</h4>
                <p>Đăng ký để nhận thông báo khuyến mãi sau này</p>
            </div>
        </div>
        <div class="col-lg-6">
            @using (Ajax.BeginForm("Subscribe", "Home", new AjaxOptions
            {
                OnBegin = "OnBeginSub",
                OnSuccess = "OnSuccessSub",
                OnFailure = "OnFailureSub"
            }))
            {
                @Html.AntiForgeryToken()
                <script>
                    function OnBeginSub() {

                    }
                    function OnSuccessSub(rs) {
                        if (rs.success) {
                            Swal.fire({
                                icon: 'success', // Loại biểu tượng (có thể là 'success', 'error', 'warning', 'info', v.v.)
                                title: 'Thành công',
                                text: 'Bạn đã đăng ký thành công! Chúng tôi sẽ gửi mail cho bạn trong tương lai',
                                confirmButtonText: 'OK'
                            }).then((result) => {
                                // Xử lý khi người dùng bấm nút OK (nếu cần)
                                if (result.isConfirmed) {
                                    Swal.close();
                                }
                            });
                        }

                    }
                    function OnFailureSub(rs) {

                    }
                </script>
                <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
                    @*@Html.TextBoxFor(x=>x.Email, new {@placeholder = "Email của bạn", @type = "email", @required = "required" })*@

                    <input id="newsletter_email" name="Email" type="email" placeholder="Email của bạn" required="required" data-error="Valid email is required.">
                    <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">Đăng ký</button>
                </div>
            }
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
