################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebBanHangOnline/.vs/WebBanHangOnline/FileContentIndex
*.gitignore
/.gitignore
/.gitignore
/WebBanHangOnline/WebBanHangOnline/Migrations
/WebBanHangOnline/WebBanHangOnline/obj/Debug
/.gitignore
/WebBanHangOnline/.vs/WebBanHangOnline
