################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/Project/v17/.wsuo
/WebBanHangOnline/.vs/WebBanHangOnline/config/applicationhost.config
/WebBanHangOnline/.vs/WebBanHangOnline/FileContentIndex/1036cd14-21f3-416a-b744-d504bb44e4d0.vsidx
/WebBanHangOnline/.vs/WebBanHangOnline/FileContentIndex/8499101c-441d-48b3-af6f-deff33d7b038.vsidx
/WebBanHangOnline/.vs/WebBanHangOnline/FileContentIndex/66afe878-2d75-4a50-8d9e-3820426e980d.vsidx
/WebBanHangOnline/.vs/WebBanHangOnline/FileContentIndex/963fe2c1-533c-4d65-b816-5d6148da3e44.vsidx
/WebBanHangOnline/.vs/WebBanHangOnline/FileContentIndex/97518b6e-a540-4d2e-a3c9-b22964fa5ab8.vsidx
/WebBanHangOnline/.vs/WebBanHangOnline/FileContentIndex/read.lock
/WebBanHangOnline/.vs/WebBanHangOnline/v17/TestStore/0/000.testlog
/WebBanHangOnline/.vs/WebBanHangOnline/v17/TestStore/0/testlog.manifest
/WebBanHangOnline/.vs/WebBanHangOnline/v17/.suo
/WebBanHangOnline/.vs/WebBanHangOnline/v17/fileList.bin
/WebBanHangOnline/.vs/WebBanHangOnline/v17/HierarchyCache.v1.txt
/WebBanHangOnline/WebBanHangOnline/Migrations/202311080859125_New.cs
/WebBanHangOnline/WebBanHangOnline/Migrations/202311080859125_New.Designer.cs
/WebBanHangOnline/WebBanHangOnline/Migrations/202311080859125_New.resx
/.gitignore
*.vsidx
/.gitignore
/.gitignore
