################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebBanHangOnline/.vs/WebBanHangOnline/FileContentIndex
*.gitignore
/.gitignore
/.gitignore
/WebBanHangOnline/WebBanHangOnline/Migrations
/WebBanHangOnline/WebBanHangOnline/obj/Debug
/.gitignore
/WebBanHangOnline/.vs/WebBanHangOnline
/.vs
/WebBanHangOnline/WebBanHangOnline/bin/WebBanHangOnline.dll
/WebBanHangOnline/WebBanHangOnline/bin/WebBanHangOnline.pdb
/WebBanHangOnline/WebBanHangOnline/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/WebBanHangOnline/WebBanHangOnline/obj/Release/WebBanHangOnline.csproj.AssemblyReference.cache
/WebBanHangOnline/WebBanHangOnline/obj/Release/WebBanHangOnline.csproj.CoreCompileInputs.cache
/WebBanHangOnline/WebBanHangOnline/obj/Release/WebBanHangOnline.dll
/WebBanHangOnline/WebBanHangOnline/obj/Release/WebBanHangOnline.pdb
