@model IEnumerable<WebBanHangOnline.Models.EF.OrderDetail>
@using WebBanHangOnline.Models.Common

@if (Model != null && Model.Any())
{
    int i = 1;
    <fieldset class="border p-2">
        <legend style="font-weight:600;" class="w-auto">Danh sách sản phẩm</legend>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var thanhTien = item.Price * item.Quantity;
                    <tr>
                        <td>@i</td>
                        <td>@item.Product.Title</td>
                        <td>@item.Quantity</td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </fieldset>

    
}
