
<h3> Chào mừng bạn đến với {{Brand}}</h3>
<p>Cảm ơn Anh/chị đã đăng ký tài khoản tại cửa hàng của chúng tôi.</p> 
<p>Địa chỉ email đã dùng để đăng ký tài khoản: {{EmailDangKy}}</p>
<p>Anh/chị vui lòng truy cập vào tài khoản theo địa chỉ <a style="color: rgb(92, 92, 221); " href="fourc.com/login">fourc.com/login</a> để thực hiện đặt hàng và quản lý giao dịch nhanh chóng thuận tiện hơn.</p>
<p>Truy cập vào cửa hàng để tiếp tục mua sắm với chúng tôi</p> <br>
<a href="fourc.com" style="background-color: rgb(219, 101, 101);color:white;padding:12px 36px; text-decoration:none;margin-top:50px;">Đến cửa hàng của chúng tôi</a>
<hr/>

<div style="text-align: right;">
    <p>Nếu Anh/chị có bất kỳ câu hỏi nào, xin liên hệ với chúng tôi tại <a style="color: rgb(92, 92, 221);" href="mailto:{{EmailBrand}}">{{EmailBrand}}</a></p>

    <p style="font-style: italic;">Trân trọng,</p>
    
    <p style="font-weight: bold;">Ban quản trị cửa hàng {{Brand}}</p>
</div>
