@model IEnumerable<WebBanHangOnline.Models.EF.News>
@{
    ViewBag.Title = "Danh sách tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">


<style>
    .news_section_container {
        margin-top: 200px;
    }
</style>

<div class="container news_section_container" ng-app="newsApp" ng-controller="newsController">
    <div class="row">
        <div class="col-md-9">
            <h3 class="news-title">Tin tức </h3>
        </div>
    </div>
    <hr />
    <div class="row mb-5" ng-repeat="item in newsList">
        <div class="col-md-3">
            <div class="img-box">
                <a href="/tin-tuc/chi-tiet/{{item.Alias}}-n{{item.Id}}" title="{{item.Title}}">
                    <img style="width: 100%;" height="200px;" ng-src="{{item.Image}}" alt="{{item.Title}}" />
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="content-box">
                <h5>
                    <a href="/tin-tuc/chi-tiet/{{item.Alias}}-n{{item.Id}}" title="{{item.Title}}">{{item.Title}}</a>
                </h5>
                <p>{{item.CreateBy}} - {{item.CreateDate}}</p>
                <div class="description-box">
                    {{item.Description}}
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var app = angular.module('newsApp', []);

        app.controller('newsController', function ($scope, $http, $filter) {
            // Hàm để chuyển đổi ngày tạo thành đối tượng Date
            function convertToDate(timestamp) {
                return new Date(parseInt(timestamp.substr(6)));
            }

            // Hàm để lấy dữ liệu từ action GetData
            $scope.loadData = function () {
                $http.get('/News/GetData')
                    .then(function (response) {
                         //Chuyển đổi CreateDate cho mỗi item và định dạng ngày
                        response.data.forEach(function (item) {
                            item.CreateDate = $filter('date')(convertToDate(item.CreateDate), 'dd/MM/yyyy HH:mm:ss');
                        });
                        $scope.newsList = response.data;
                    });
            };

            // Gọi hàm loadData khi controller được khởi tạo
            $scope.loadData();
        });
    </script>
}
