@model IEnumerable<WebBanHangOnline.Models.EF.Store>
@{
    ViewBag.Title = "Danh sách cửa hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/bootstrap4/bootstrap.min.css">
<link href="~/Content/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_responsive.css">

<style>
    .breadcrumbs {
        margin-bottom: 20px;
    }
</style>

<div class="container contact_container" ng-app="storeApp" ng-controller="storeController">
    <div class="row">
        <div class="col-12">
            <!-- Breadcrumbs -->
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>@ViewBag.Title</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <input type="text" ng-model="searchQuery" class="form-control" />
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" ng-click="searchStore()">Tìm kiếm</button>
        </div>

    </div>


    <div class="row">
        <div class="col-4 mb-5" ng-repeat="item in storeList">
            <a href="/cua-hang/chi-tiet/{{item.Alias}}-s{{item.Id}}">
                <div class="card">
                    <img class="card-img-top" style="height:200px;" src="{{item.Image}}" />
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight:bold">{{item.Name}}</h5>
                        <a href="{{item.LinkMap}}" style="width:100%" class="btn btn-outline-dark">Xem bản đồ</a>
                        <hr />
                        <p class="card-text card-address">{{item.Address}}, {{item.Ward}}, {{item.District}}, {{item.Province}} </p>
                        <p class="card-text"> 06:30 - 22:00 </p>
                        <div class="row" style="font-size: 13px">
                            <div class="col-6">
                                <i class="fa-solid fa-car"></i> Có chỗ đậu xe hơi
                            </div>
                            <div class="col-6">
                                <i class="fa-solid fa-bag-shopping"></i> Mua mang đi
                            </div>
                        </div>
                        <div class="row" style="font-size: 13px">
                            <div class="col-6">
                                <i class="fa-solid fa-store"></i> Phục vụ tại chỗ
                            </div>
                            <div class="col-6">
                                <i class="fa-regular fa-face-smile-beam"></i> Thân thiện
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>
@section scripts
{
    <script>
        var app = angular.module('storeApp', []);
        app.controller('storeController', function ($scope, $http) {
            $scope.loadData = function () {
                $http.get('/Store/GetData')
                    .then(function (response) {
                        //$scope.storeList = response.data;
                        $scope.allStores = response.data; // Lưu tất cả cửa hàng trong biến allStores
                        $scope.storeList = angular.copy($scope.allStores); // Sao chép để giữ nguyên danh sách khi tìm kiếm
                    });
            }
            $scope.loadData();

            $scope.searchStore = function () {
                var query = $scope.searchQuery.toLowerCase();

                $http.get('/Store/GetData')
                    .then(function (response) {
                        $scope.allStores = response.data;
                        $scope.storeList = $scope.allStores.filter(function (item) {
                            return (
                                (item.Name && typeof item.Name === 'string' && item.Name.toLowerCase().includes(query)) ||
                                (item.Province && typeof item.Province === 'string' && item.Province.toLowerCase().includes(query)) ||
                                (item.District && typeof item.District === 'string' && item.District.toLowerCase().includes(query)) ||
                                (item.Ward && typeof item.Ward === 'string' && item.Ward.toLowerCase().includes(query)) ||
                                (item.Address && typeof item.Address === 'string' && item.Address.toLowerCase().includes(query))

                            );
                        });
                    });
            };
        });

    </script>
}
